language: node_js
node_js: 10.15.0
script: echo "Deploying"
install: npm install -g firebase-tools
install: npm install -g @angular/cli
install: npm install -g ionic
install: npm install -g firebase-tools
after-success: ionic build
before_script: firebase use staging
deploy: firebase deploy --token $FIREBASE_TOKEN
