language: node_js
node_js: 10.15.0
script: echo "Deploying"
install: npm install -g firebase-tools
install: npm install -g @angular/cli
install: npm install -g ionic
after-success: ionic build
script: firebase deploy --token $FIREBASE_TOKEN
