$headerRowBg: #314051;
$headerRowBglight: #3d4f64;
$fontColor: #fffef4;
.toolBtn {
    margin: 5px;
}

mat-panel-title {
    justify-content: space-between;
    align-items: center;
    .expand_icons {
        position: absolute;
        right: 50px;
    }
}

app-case-details {
    background-color: red;
}

:ng-deep .inner-scroll {
    color: red;
    display: block;
    text-align: center;
    height: 100% !important;
    app-charts {
        bottom: 20px;
    }
}