$headerRowBg: #314051;
$headerRowBglight: #3d4f64;
$fontColor: #fffef4;
.slides_container {
    margin: 5px;
}

.toolBtn {
    margin: 5px;
}

ion-slide {
    height: 300px;
    google-chart {
        border: 11px solid $headerRowBglight;
        border-radius: 25px;
        overflow: hidden;
        margin: 0 auto;
        display: block;
    }
}