<ion-header>
    <ion-toolbar>
        <ion-title>Case Details </ion-title>
        <button mat-raised-button color="primary" class="toolBtn" slot="end" [hidden]="edit_mode">Add Survey</button>
        <button mat-raised-button color="warn" class="toolBtn" slot="end" [hidden]="edit_mode" (click)="editForm()">Edit</button>
        <button mat-raised-button color="warn" class="toolBtn" slot="end" [hidden]="!edit_mode" (click)="edit_mode=!edit_mode; caseForm.dirty ? populateForm() : caseForm.dirty">Cancel</button>
        <button mat-raised-button color="primary" class="toolBtn" slot="end" type="submit" [hidden]="!edit_mode" (click)="onSubmit();editForm()" [disabled]="!caseForm.dirty">Update</button>
        <!--[disabled]="!caseForm.valid"-->
        <button mat-raised-button color="warn" class="toolBtn" slot="end" [hidden]="!edit_mode" (click)="deleteForm()">Delete</button>

        <button mat-raised-button color="light" slot="start" (click)="goBack()" class="toolBtn">
            
        </button>

    </ion-toolbar>
</ion-header>

<ion-content padding>
    <div class="main" fxLayout="column" fxFlexFill fxLayoutAlign="space-between stretch">
        <div fxFlex class="sec1">
            <mat-expansion-panel [expanded]="panel_opened" hideToggle="true" style="margin-bottom: 10px;">
                <mat-expansion-panel-header style="background-color:#314051; " (click)='onPanelStateChanged(panel_opened);'>
                    <mat-panel-title style=" color:#fffef4 ">
                        General Information
                        <mat-icon *ngIf="panel_opened" class="expand_icons">unfold_less</mat-icon>
                        <mat-icon *ngIf="!panel_opened" class="expand_icons">unfold_more</mat-icon>
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div class="container" style="margin-top:12px; " fxLayout="row" fxLayoutWrap fxLayoutGap="5%" fxLayoutAlign="space-evenly center" [formGroup]="caseForm" (ngSubmit)="onSubmit()">


                    <mat-form-field fxFlex="30%" class="case-number" rows="1 " fxFlexAlign="center">
                        <input matInput placeholder="Case Number" [value]="ExternalKey" ngDefaultControl formControlName="ExternalKey">
                    </mat-form-field>


                    <mat-form-field fxFlex="30%">
                        <mat-select placeholder="Referrals " ngDefaultControl formControlName="case_referral">
                            <mat-option *ngFor="let referral of casemodel_helper.referrals " [value]="referral ">
                                {{ referral }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>


                    <div fxFlex>
                    </div>

                </div>
                <div class="container" fxLayout="row wrap" fxLayoutWrap fxLayoutGap="5%" fxLayoutAlign="space-evenly center" [formGroup]="caseForm" (ngSubmit)="onSubmit()">


                    <mat-form-field fxFlex="30%" formGroupName="EpisodeType">
                        <mat-select placeholder="Type" ngDefaultControl formControlName="Name">
                            <mat-option *ngFor="let type of casemodel_helper.types" [value]="type">
                                {{ type }}
                            </mat-option>
                        </mat-select>

                    </mat-form-field>


                    <mat-form-field fxFlex="30%">
                        <mat-select placeholder="Payor " ngDefaultControl formControlName="case_payer">
                            <mat-option *ngFor="let payer of casemodel_helper.payers " [value]="payer ">
                                {{ payer }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>


                    <mat-form-field fxFlexAlign="stretch" fxFlex="30%" fxFlexOffSet="30%">
                        <mat-label>Description</mat-label>
                        <textarea matInput placeholder="Some client details here ... " [value]="model.Description" cdkTextareaAutosize cdkAutosizeMinRows="2" ngDefaultControl formControlName="Description"></textarea>
                    </mat-form-field>
                </div>
                <div class="container" fxLayout="row" fxLayoutWrap fxLayoutGap="5%" fxLayoutAlign="space-evenly center" [formGroup]="caseForm" (ngSubmit)="onSubmit()">


                    <mat-form-field fxFlex="30%">
                        <input matInput [matDatepicker]=" picker " placeholder="Start date" formControlName="StartDate" class="datepicker-align">
                        <mat-datepicker-toggle matSuffix [for]="picker "></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>



                    <mat-form-field fxFlex="30%">
                        <mat-select placeholder="Treatement Settings" ngDefaultControl formControlName="treatement_settings">
                            <mat-option *ngFor="let treat of casemodel_helper.treatement_settings " [value]="treat ">
                                {{ treat }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>


                    <mat-form-field fxFlex="30%">
                        <mat-select placeholder="Tags " ngDefaultControl [formControl]="case_tags" multiple>
                            <mat-option *ngFor="let tag of casemodel_helper.tags " [value]="tag ">
                                {{ tag }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                </div>
                <div class="container" fxLayout="row" fxLayoutWrap fxLayoutGap="5%" fxLayoutAlign="space-evenly center" [formGroup]="caseForm">


                    <mat-form-field fxFlex="30%" formGroupName="EpisodeStatus">
                        <mat-select placeholder="Status" ngDefaultControl formControlName="Name">
                            <mat-option *ngFor="let status of casemodel_helper.statuses " [value]="status">
                                {{ status }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>



                    <mat-form-field fxFlex="30%" formGroupName="EpisodeStatus">
                        <mat-select placeholder="Status" ngDefaultControl formControlName="Name">
                            <mat-option *ngFor="let status of casemodel_helper.statuses " [value]="status">
                                {{ status }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field fxFlex="30%" class="case-number ">
                        <input matInput placeholder="Existing Client " [value]="model.ClientIds" ngDefaultControl formControlName="existing_client">
                    </mat-form-field>

                </div>
            </mat-expansion-panel>
        </div>
        <div fxFlex class="sec2">
            <app-charts class="charts_container" style="margin:0 auto" (messageEvent)="receiveChartClickedMessage($event)"> charts injected here ...</app-charts>
        </div>
    </div>

</ion-content>