$headerRowBg: #314051;
$headerRowBglight: #3d4f64;
$fontColor: #fffef4;
.toolBtn {
    margin: 5px;
}

mat-panel-title {
    justify-content: space-between;
    align-items: center;
    .expand_icons {
        position: absolute;
        right: 50px;
    }
}