$headerRowBg: #314051;
$headerRowBglight: #3d4f64;
$fontColor: #fffef4;
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.case-number {
    min-width: 150px;
    max-width: 500px;
    width: 30%;
}

.example-full-height {
    min-height: 50px;
}

.grid-test {
    margin-top: 30px;
}

.toolBtn {
    margin: 4px;
}