$offwhite: #fffff8;
$aceCyan: #43C4B2;
mat-card {
    width: 80%;
    height: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    margin-bottom: auto;
    background-color: $offwhite;
}

mat-card-content {
    margin-top: 10%;
    text-align: center;
    height: 100%;
    .example-full-width {
        font-size: 16pt;
        width: 100%;
        padding: 2%;
        text-align: center;
        vertical-align: middle;
        margin: auto;
    }
}

mat-card-actions {
    margin-top: 30px;
}

.loginBtn {
    background-color: $aceCyan;
    color: $offwhite;
}