$headerRowBg: #314051;
$fontColor: #fffef4;
$aceCyan: #43C4B2;
$rowColor:#F5F5F5;
$col-sm:40px;
$col-md:10px;
$col-lg:100px;
.example-container {
    height: 400px;
    overflow: auto;
}

table {
    width: 100%;
    th {
        background-color: $headerRowBg; // rgb(244, 255, 253);
        color: $fontColor;
        text-align: left;
    }
    td {
        min-width: 40px;
        max-width: 80px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-align: left;
    }
    .mat-row:nth-child(even) {
        background-color: #F5F5F5;
    }
    //   .mat-row:nth-child(odd) {}
    .case_num {
        padding-right: 20px;
        color: $aceCyan;
        cursor: pointer;
    }
}