<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<ion-header>
    <ion-toolbar>
        <ion-title>
            <ion-label color="dark">
                <!-- <h2>{{current_user}}</h2>  -->
                <h1>Test</h1>

            </ion-label>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <mat-card>
        <ion-grid>
            <ion-row justify-content-evenly>
                <ion-col col-6>
                    <ion-row justify-content-evenly>
                        <ion-col col-6>
                            <div class="sec1">
                                <div *ngIf="selectedEpisode">
                                    {{selectedEpisode.ClientsNames}}
                                    <mdc-chip-set>
                                        <mdc-chip>
                                            <mdc-chip-text>Case: {{selectedEpisode.ExternalKey}}</mdc-chip-text>
                                        </mdc-chip>
                                    </mdc-chip-set>
                                    <mdc-chip-set>
                                        <mdc-chip>
                                            <mdc-chip-text>Status: {{selectedEpisode.EpisodeStatus['Name']}}</mdc-chip-text>
                                        </mdc-chip>
                                    </mdc-chip-set>
                                    <mdc-chip-set>
                                        <mdc-chip class="custom-chip-secondary">

                                            <mdc-chip-text>Clinician: {{selectedEpisode.CliniciansNames}}</mdc-chip-text>
                                        </mdc-chip>
                                    </mdc-chip-set>
                                </div>
                            </div>
                        </ion-col>
                        <ion-col col-6>
                            <div class="sec1">


                                <div *ngIf="selectedEpisode">
                                    <mdc-chip-set>
                                        <mdc-chip>

                                            <mdc-chip-text>Start: {{selectedEpisode.StartDate | date: "dd-MM-yyyy"}}</mdc-chip-text>
                                        </mdc-chip>
                                    </mdc-chip-set>
                                    <mdc-chip-set>
                                        <mdc-chip>
                                            <mdc-chip-text>Last: {{selectedEpisode.LastSessionDate | date: "dd-MM-yyyy"}}</mdc-chip-text>
                                        </mdc-chip>
                                    </mdc-chip-set>
                                    <mdc-chip-set>
                                        <mdc-chip>
                                            <mdc-chip-text>Type: {{selectedEpisode.EpisodeType.Name}}</mdc-chip-text>
                                        </mdc-chip>
                                    </mdc-chip-set>
                                    <mdc-chip-set>
                                        <mdc-chip class="custom-chip-secondary">

                                            <mdc-chip-text>Owner: {{selectedEpisode.EpisodeOwner}}</mdc-chip-text>
                                        </mdc-chip>
                                    </mdc-chip-set>
                                </div>



                            </div>

                        </ion-col>

                    </ion-row>

                </ion-col>

                <ion-col col-6>
                    <div class="sec2">
                        <app-charts class="charts_container"> charts injected here ...</app-charts>
                    </div>
                </ion-col>
            </ion-row>

        </ion-grid>
    </mat-card>
    <mat-card>
        <ion-grid>
            <mdc-list-group>
                <ion-row justify-content-between>
                    <ion-col col-3>
                        <div class="sec1">
                            <mdc-list twoLine avatar class="demo-list--custom" singleSelection>
                                <h3 subheader>Categories</h3>
                                <mdc-list-item *ngFor="let folder of folders" (click)="_selectionChange(folder)">
                                    <mdc-icon mdcListItemGraphic>{{folder.icon}}</mdc-icon>
                                    <mdc-list-item-text>{{folder.name}}</mdc-list-item-text>
                                </mdc-list-item>
                            </mdc-list>
                            <mat-form-field class="example-form-field">
                                <input matInput type="text" placeholder="Filter Results" [(ngModel)]="value">
                                <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                                      <mat-icon>close</mat-icon>
                                    </button>
                            </mat-form-field>
                        </div>
                    </ion-col>

                    <ion-col col-9>
                        <div class="sec2">
                            <mdc-list twoLine avatar class="demo-list--custom" singleSelection>
                                <h3 subheader *ngIf="lookupVal && lookupVal.icon == 'folder'">Folders</h3>
                                <h3 subheader *ngIf="lookupVal && lookupVal.icon != 'folder'">Files</h3>
                                <mdc-list-item *ngFor="let file of files">
                                    <mdc-icon mdcListItemGraphic>{{lookupVal.icon}}</mdc-icon>
                                    <mdc-list-item-text *ngIf="lookupVal.id != 'StartDate'">{{file[lookupVal.id]}}

                                    </mdc-list-item-text>
                                    <mdc-list-item-text *ngIf="lookupVal.id == 'StartDate'">ID: {{file.ClientsIds[0]}}&#160;&#160;&#160;Date: {{file[lookupVal.id] | date: "dd-MM-yyyy"}}</mdc-list-item-text>
                                    <a href="#/list-demo/examples" mdcListItemMeta mdcIcon aria-label="View more" title="More info">info</a>

                                </mdc-list-item>
                            </mdc-list>
                        </div>

                    </ion-col>
                </ion-row>
            </mdc-list-group>
        </ion-grid>
    </mat-card>
</ion-content>