$headerRowBglight: #3d4f64;
.slides_container {
    top: 10px;
    padding-bottom: 10px;
}

ion-slides {
    bottom: 10px;
}

ion-slide {
    google-chart {
        border: 11px solid $headerRowBglight;
        border-radius: 25px;
        overflow: hidden;
        margin: 0 auto;
        display: block;
    }
}