$headerRowBglight: #3d4f64;
ion-slides {
    google-chart {
        border: 11px solid $headerRowBglight;
        border-radius: 25px;
        overflow: hidden;
        margin: 0 auto;
        display: block;
    }
    dx-chart {
        border: 11px solid $headerRowBglight;
        border-radius: 25px;
        overflow: hidden;
        margin: 0 auto;
        display: block;
    }
    dx-range-selector {
        border: 11px solid $headerRowBglight;
        border-radius: 25px;
        overflow: hidden;
        margin: 0 auto;
        display: block;
    }
}


/*
// iPad
@media (min-width: 820px) {
    ion-slides {
        //  background-color: yellow;
    }
}

// mobile phones 
@media (min-width: 240px) and (max-width: 768px) {
    ion-slides {
        //   background-color: rgb(255, 0, 149);
    }
}

*/